*{
    margin: 0px;
    padding: 0px;
}
nav{
    border: 2px solid black;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 20px;
}
nav span{
    color: green;
    font-size: 23px;
}
.nav-items{
    /* border: 2px solid black;
    margin-bottom: -10px; */
    padding-top: 5px;
}
.nav-items a{
    text-decoration: none;
    color: black;
    margin-left: 5rem;
    font-weight: 900;
}
main{
    border: 0px solid black;
    margin-top: 30px;
}
.wrapper1{
    /* border: 2px solid rgb(31, 31, 67); */
    background-color: black;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 7px;
    box-shadow: 4px 4px grey;
}
.content1{
    /* border: 2px solid black; */
    background-color: black;
    color: white;
    width: 95%;
    margin: auto;
}
.content1 p{
    font-size: 25px;
    font-family: cursive;
}
.profile1{
    /* border: 2px solid black; */
    display: flex;
    justify-content: end;
}
.profile1 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.data1{
    color: white;
    margin: 5px 5px;
}
.data1 h2{
    color: white;
    font-size: 16px;
    font-family: cursive;
    text-transform: capitalize;
}
.wrapper2{
    /* border: 2px solid rgb(31, 31, 67); */
    background-color: rgb(138, 137, 137);
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 7px;
    box-shadow: 4px 4px rgb(36, 36, 74);
}
.content2{
    /* border: 2px solid black; */
    color: white;
    width: 95%;
    margin: auto;
}
.content2 p{
    font-size: 25px;
    font-family: cursive;
}
.profile2{
    /* border: 2px solid black; */
    margin-top: 7px;
    display: flex;
    justify-content: start;
}
.profile2 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.data2{
    color: white;
    margin: 5px 5px;
}
.data2 h2{
    color: white;
    font-size: 16px;
    font-family: cursive;
    text-transform: capitalize;
}
.wrapper3{
    /* border: 2px solid rgb(31, 31, 67); */
    background-color: black;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 7px;
    box-shadow: 4px 4px rgb(41, 40, 40);
}
.content3{
    /* border: 2px solid black; */
    color: white;
    width: 95%;
    margin: auto;
}
.content3 p{
    font-size: 25px;
    font-family: cursive;
}
.profile3{
    /* border: 2px solid black; */
    margin-top: 7px;
    display: flex;
    justify-content: end;
}
.profile3 img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.data3{
    color: white;
    margin: 5px 5px;
}
.data3 h2{
    color: white;
    font-size: 16px;
    font-family: cursive;
    text-transform: capitalize;
}
